.header {
    text-align: center;
    padding: 20px 0;

}

.logo {
    width: 150px;
}

body {
    background-image: url(../img/pexels-gochrisgoxyz-1477166.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.flower {
    position: relative;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.flower-image {
    width: 300px;
    height: 420px;
    transition: transform 0.3s ease;
}

.flower:hover .flower-image {
    transform: scale(1.1);
}
.price {
    font-size: 18px;
    margin-top: 10px;
    clear: right;
    float: left;
  }
  .or-price{
    color: bisque;
    float: right;
  }
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    margin-left: 60px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.flower:hover .overlay {
    opacity: 1;
}